[submodule "submodules/TimeStick"]
	path = submodules/TimeStick
	url = https://github.com/Time-Appliances-Project/TimeStick.git
[submodule "submodules/dpdk"]
	path = submodules/dpdk
	url = https://github.com/DPDK/dpdk.git
[submodule "submodules/linuxptp"]
	path = submodules/linuxptp
	url = https://github.com/richardcochran/linuxptp.git
